version: '3.8'

services:
  consul:
    image: consul:1.15
    ports:
      - "8500:8500"
    command: ["agent", "-dev", "-client=0.0.0.0"]
  cart-service:
    build:
      context: .
      dockerfile: Dockerfile.cart
    ports:
      - "50053:50053"
    depends_on:
      - consul

  auth-service:
    build:
      context: .
      dockerfile: Dockerfile.auth
    ports:
      - "50051:50051"
    environment:
      - CONSUL_HOST=consul
    depends_on:
      - cart-service  
      - consul
  
  catalog-service:
    build:
      context: .
      dockerfile: Dockerfile.catalog
    ports:
      - "50052:50052"
    depends_on:
      - consul

  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile.gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - catalog-service

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api-gateway